@charset "utf-8";
/* 你自己的样式 */
.table-bg thead th {
	background-color: #fff!important; 
}
body, th, td{
	font-size: 14px!important;
	color: #464e63!important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #f9f9f9!important;
}
.table th {
	padding: 3px;
	font-size: 14px!important;
	color: #464e63!important;
	font-weight: bold!important;
	line-height: 30px!important;
}
 .table td {
 	padding: 3px;
	height: 30px!important;
	font-size: 14px!important;
	color: #464e63!important;
	line-height: 24px!important;
}
.page-container .title {
	min-width: 80px;
	font-size: 16px;
	float: left;
	color: #464e63;
	line-height: 30px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 15px;
}
.input-text, .btn, .input-text.size-M, .btn.size-M{padding-left: 7px!important;}
